

<body>

<main>

<style type="text/css">
            div.hov{
                cursor:pointer;
            }
            div.hov:hover{
                transform:scale(1.1);
                transition:all 0.6s;
            }
         
</style>


<div id= "main-container" class="container" >

<div class="row" style="margin: 20px;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="width:100%;max-height:320px;overflow：hidden;cursor:pointer;" onclick="window.location.href ='/games/renderView/Fifa18'">
      <img class="d-block w-100" src="/public/images/Fifa18.jpg" alt="First slide" >
       <div class="carousel-caption d-none d-md-block">
     
     
  </div>
    </div>
    <div class="carousel-item" style="width:100%;max-height:320px;overflow：hidden;cursor:pointer;" onclick="window.location.href ='/games/renderView/Call of Duty WWII'">
      <img class="d-block w-100" src="/public/images/Call of Duty WWII.jpg" alt="Second slide" >
       <div class="carousel-caption d-none d-md-block">
   
     </div>
    </div>
    <div class="carousel-item" style="width:100%;max-height:320px;overflow：hidden;cursor:pointer;" onclick="window.location.href ='/games/renderView/The Legend of Zelda Skyward Sword'">
      <img class="d-block w-100" src="/public/images/The Legend of Zelda Skyward Sword.jpg" alt="Third slide">
       <div class="carousel-caption d-none d-md-block">
    
       </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" style="width:30%;">
      <div  class="btn btn-primary"  onclick="feedHotGames()">
  Recommendation <span id = "recNumber" class="badge badge-light"></span>

</div></li>

<li style="width:68%;text-align:right;">

 <h5 style="padding-top:0.1em;"><img src="./public/images/refresh-icon.png" style="width:20px;height:20px; cursor:pointer;" onclick="feedHotGames()"></img> <span class="badge badge-secondary" onclick="feedHotGames()" style="cursor:pointer;">Refresh</span></h5>


</li>



  </ol>
</div>

</nav>

</div>

<div id = "hot-game-container" class="container">

</div>

</div>





</main>


<script>
    $('.carousel').carousel({
    interval: 2000
    })
    
    feedHotGames();

function feedHotGames(){

    $.ajax({
                type:"get",        
                url:"/games/getHotGames",
                cache:false,
                        
                success:function(json){


                        var recNumber = document.getElementById("recNumber");
                        recNumber.innerText = json.length;
                 

                       var container =  document.getElementById("hot-game-container");
                       container.innerHTML= "";
                        
                        
                         var rowItem = document.createElement("div");
                         rowItem.className = "row";
                         
                        
                        for(var curn in json){
                                
                               if(curn!=0&&curn%3==0){

                                   rowItem = document.createElement("div");
                                   rowItem.className = "row";
                               }


                                var containerItem = document.createElement("div");
                                


                                containerItem.className = "card hov";
                                containerItem.style = "width: 18rem;margin:8px auto;cursor: pointer;";
                                
                               

                                var imageItem = document.createElement("img");
                                
                                imageItem.className = "card-img-top"
                                imageItem.src = "/public/images/"+json[curn].name+".jpg";
                                imageItem.alt = "Card image cap";

                            
                               

                                var cardBody = document.createElement("div");
                                cardBody.className= "card-body";
                                var cardTiltile =  document.createElement("p");
                                cardTiltile.innerText = json[curn].name;                                
                                cardTiltile.className = "card-text";
                                cardTiltile.style = "font-weight:bold;"
                                var cardText =  document.createElement("p");


                                var  curDescription = json[curn].description;
                                if(curDescription.length >100)curDescription = curDescription.substring(0,100) + "...";

                                cardText.innerText = curDescription;
                                cardText.className = "card-text";


                               
                               
                                
                                cardBody.appendChild(cardTiltile);
                                cardBody.appendChild(cardText);
                              

                                containerItem.appendChild(imageItem);
                                containerItem.appendChild(cardBody);
                                  containerItem.onclick = new Function(

                                "onClickGame('"+json[curn].name+"')"
                             
                              );
                                rowItem.appendChild(containerItem);
                              
                                container.appendChild(rowItem);


                            /*
                                   var listitem = document.createElement("li");
                                   listitem.className = "oneGameCube"
                                   var itemname = document.createElement("label");
                                   itemname.innerText = json[curn].name;

                                   var gamepic = document.createElement("div");
                                   gamepic.style = "position: relative;left:0;right:0;margin:auto;width:280px;height:200px;border:1px solid gray;"


                                   var itemdesc = document.createElement("label");
                                   itemdesc.innerText = json[curn].description + "...";
                                   itemdesc.style = "font-size:10px;"
                                   

                                   listitem.appendChild(itemname)
                                   listitem.appendChild(gamepic)
                                   listitem.appendChild(itemdesc)
                                   ulist.appendChild(listitem);
                             */
                                 
                                    
                               $(".progress").css("display", "none");      
                       }
                    
                },error:function(){}
               
            });
}




function onClickGame(gameName){


  window.location.href ="/games/renderView/"+gameName;
}



</script>



</body>

