
<body>




    <div class="shadow border rounded" style="margin-left:30%;margin-right:30%;margin-top:10%; width:40%;">

        <div style="margin-left:3%;margin-right:3%;margin-top:3%";>
            <form id="login-form"  action="/users/addUser" method="POST" >
                <div class = "input-area">
                
                    <div class="input-group mb-3" style="width:500px">
                        <div class="input-group-prepend"> 
                            <span class="input-group-text"  style="width:110px">User name</span>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="Please enter your user name"> 
                    </div>

                    <div class="input-group mb-3" style="width:500px">
                        <div class="input-group-prepend"> 
                            <span class="input-group-text" style="width:110px">Password</span>
                        </div>
                        <input type="text" class="form-control"  name="password" placeholder="Please enter your user password"> 
                    </div>


                    <div class="row">  
                        <div class="input-group mb-3" style="margin-left:15PX">
                            
                           
                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Action</span>
                            </div>       
                            <div class="input-group-prepend">  
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="Action"> 
                                </div>
                            </div>
                            
                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Fighting</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="fighting">
                                </div>
                            </div>
                            
                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Music</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="music"> 
                                </div>
                            </div>

                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">RPG</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="rpg"> 
                                </div>
                            </div>

                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Shooter</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="Shooter"> 
                                </div>
                            </div>

                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Simulation</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="simulation">
                                </div>
                            </div>

                            <div class="input-group-prepend" >  
                                <span class="input-group-text" style="width:100px">Sports</span>
                            </div>       
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="preference" value="sports"> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">  
                            <div class="input-group mb-3" style="margin-left:30PX">
                                
                              
                                <div class="input-group-prepend" >  
                                    <span class="input-group-text" style="width:100px">Strategy</span>
                                </div>       
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="preference" value="Strategy"> 
                                    </div>
                                </div>
                                
                                <div class="input-group-prepend" >  
                                    <span class="input-group-text" style="width:100px">2D</span>
                                </div>       
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="preference" value="2D">
                                    </div>
                                </div>
                                
                                <div class="input-group-prepend" >  
                                    <span class="input-group-text" style="width:100px">3D</span>
                                </div>       
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="preference" value="3D"> 
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>


                    <div style="margin-left:45%">
                        <button  class="btn btn-primary " type="submit" >Signup</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script>

             $(".progress").css("display", "none"); 
        </script>


</body>
