<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>game website</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>MainPage</h1>
    <main>
       <p>Find game here! </p>
      
  <form action="/result" method="POST" class="new-palindrome-form">
   
    <label id="testText">
      Please enter your test text:
      <input type="text" name="text-to-test" placeholder="Please enter your test text" class="text-input"/>
    </label>
  
    <button type="submit" class = "submitButton">Submit</button>
    
  </form>
    
    
    </main>

</body>
</html>

<!---->